<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hello World</title>
	</head>
	<body>
		<h1 align="center">Vtipná stránka</h1>
		<nav align="center">
			<a href="/">Random</a>
			<a href="/bytype">Type</a>
			<a href="/byid">Id</a> |
			<a href="/meme">Meme</a>
			<a href="/memeByType">SubReddit</a>
		</nav>
		
		<div align="center">
			<img src="<%= meme.url %>" alt="<%= meme.postLink %>"">
		</div>
		
		<script src="../js/main.js"></script>
	</body>
</html>